<div style="width: 250px;margin-left: auto; margin-right: auto; margin-top: 70px;">
<div style="text-align: center;">
<h1>Login</h1>
</div>
<table>
<%= form_tag '/login', :method => :post do %>
<tr>
  <td><%= label_tag :username, 'Username' %></td>
  <td><%= text_field_tag :username, nil, :autofocus=>true %></td>
</tr>
<tr>
  <td><%= label_tag :password, 'Password' %></td>
  <td><%= password_field_tag :password %></td>
</tr>
</table>
<br/>
  <%= hidden_field_tag('redirect', params[:redirect]) if params[:redirect] %>
  <div style="text-align: center;">
  <%= submit_tag 'Log in' %>
  </div>
<% end %>
</div>
