"Serial number", "MAC", "IP", "Hardware version", "Software version", "Product class", "OUI", "Last inform"
<% cell_names = {} %>
<% @devices.each do |device| %>
"<%= device['summary.serialNumber']['_value'] rescue ''%>", "<%= device['summary.mac']['_value'] rescue ''%>", "<%= device['summary.ip']['_value'] rescue ''%>", "<%= device['summary.hardwareVersion']['_value'] rescue ''%>", "<%= device['summary.softwareVersion']['_value'] rescue ''%>", "<%= device['summary.productClass']['_value'] rescue ''%>", "<%= device['summary.oui']['_value'] rescue ''%>", "<%= device['summary.lastInform'].to_time %>"
<% end %>

