@import "compass/css3/box-shadow";
@import "base";
@import "compass/css3/inline-block";

.bulk_sample_table {
  display: none;
  max-width: 80%;
  overflow-x: auto;
  border: 2px solid $color1;
  background-color: $color3;
  border-radius: 6px;
  position :absolute;
  font-size: 90%;
  z-index: 1000;
  td {
    white-space: nowrap; }
  @include box-shadow(rgba(black, 0.2) 0 0 5px);
  align: center;
  &:hover {
    @include inline-block; }}

.bulk_sample {
  &:hover + .bulk_sample_table{
    @include inline-block; }}
