@import "base";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/inline-block";
@import "compass/css3/columns";

.popup {
  display: none;
  position: absolute;
  background-color: white;
  border: 2px solid $color1;
  z-index: 1000;
  @include border-radius(6px);
  padding: 5px;
  @include box-shadow(rgba(black, 0.2) 0 0 5px);
  width: 30em;
  @include column-count(2);
  @include column-gap(10px);
}

.filter_selection {
  @include inline-block;
  &:hover .popup {
      @include inline-block;
  }
}
