// Place all the styles related to the Devices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "base";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/columns";
@import "compass/css3/user-interface";

.summary {
  //display: inline-block;
  //@include columns(30em 2);
}

#pending {
  position: absolute;
  top: 120px;
  right: 20px;
  width: 360px;
  border: 2px solid $color1;
  background: white;
  @include border-corner-radius(top, left, 6px);
  @include border-corner-radius(top, right, 6px);
  @include single-box-shadow;
  padding: 5px;
  h {
    font-weight: bold;
  }
  ul {
    max-height: 100px;
    overflow: auto;
    padding-left: 1em;
    margin-bottom: 0.5em;
    list-style-type: square;
    li {
      font-style: italic;
      &.red {
        color: red;
      }
      &.yellow {
        color: #DAA520;
      }
    }
  }
}

#device-params {
  .search {
    width: 600px;
  }

  ul.list {
    height: 200px;
    overflow-y: scroll;

    li {
      border-bottom: 1px dotted $color1;

      .param-path {
        @include user-select(all);
        color: rgb(70,60,0);
      }
      .param-value {
        @include user-select(all);
      }
      .value-writable {
        font-weight: bold;
      }
      .actions {
        float: right;
        a {
          visibility: hidden;
          margin-left: 5px;
          margin-right: 5px;
        }
      }
      &:hover {
        background-color: $color3;
        a {
          visibility: visible;
        }
      }
    }
  }
}

.status-green {
  &:before {
    color: #0c0;
    padding-right: 0.1em;
    content: "\25CF";
  }
}

.status-yellow {
  &:before {
    color: #cc0;
    padding-right: 0.1em;
    content: "\25CF";
  }
}

.status-red {
  &:before {
    color: #c00;
    padding-right: 0.1em;
    content: "\25CF";
  }
}

.param-value:empty:before {
  content: "blank";
  color: #aaa;
}

.tag {
  background-color: $color3;
  border: 1px $color1 solid;
  margin-left: 0.2em;
  margin-right: 0.2em;
  padding: 0.1em 0.2em;
  @include border-radius(0.4em);

  a.delete {
    visibility: hidden;
    margin-left: 0.2em;
  }
  &:hover a.delete {
    visibility: visible;
  }
}

#map {
  float: right;
  width: 600px;
  height: 400px;
}