// Place all the styles related to the Presets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#configurations {
	input[name=name] {
		width: 400px;
	}
	input[name=value] {
		width: 100px;
	}
	input[name=age] {
		width: 50px;
	}
}
