<% if logged_in? %>
<ul class="menu">

  <li class="<%= params[:controller] == 'devices' ? 'active' : ''%>" >
    <%= link_to 'Devices', devices_path %>
  </li>

  <li class="<%= params[:controller] == 'faults' ? 'active' : ''%>" >
    <%= link_to 'Faults', faults_path %>
  </li>

  <li class="<%= params[:controller] == 'presets' ? 'active' : ''%>" >
    <%= link_to 'Presets', presets_path %>
  </li>

  <li class="<%= params[:controller] == 'objects' ? 'active' : ''%>" >
    <%= link_to 'Objects', objects_path %>
  </li>

  <li class="<%= params[:controller] == 'files' ? 'active' : ''%>" >
    <%= link_to 'Files', files_path %>
  </li>

</ul>
<% end %>

