<!DOCTYPE html>
<html>
<head>
  <title><%= Rails.application.class.parent_name.titleize %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/favicon.png" />
</head>
<body>
<div id="header">
  <div id="user_menu" style="float: right; margin: 5px;">
    <% if logged_in? %>
      <%= current_user %> | <%= link_to 'Log out', logout_path %>
    <% else %>
      <%= link_to 'Log in', login_path %>
    <% end %>
  </div>
<%= image_tag logo_image, :class => 'logo' %>
<span class="app-name"><%= Rails.application.class.parent_name.titleize %></span>
<% if not logged_in? %>
<div style="margin-left: 25px;margin-bottom: 10px;color: gray; font-size: 22px;">Demo site</div>
<% end %>
<%= render 'layouts/menu' %>
</div>

<div id="content">
<%- flash.each do |k, v| %>
  <div class="flash <%= k %>"><%= v %></div>
<% end %>

<%= yield %>
</div>

<div id="footer">
&copy;<%= Time.now.year %> genieacs.com
</div>
</body>
</html>
